<!-- LDlogin.component.html -->
<div class="login-container">
  <h2 class="login-title">Login</h2>
  <div class="login-card">
    <form (ngSubmit)="onSubmit()" #loginForm="ngForm">
      <div class="form-group">
        <label for="username">Username</label>
        <input 
          type="text"
          id="username"
          name="dummy-username"
          [(ngModel)]="username"
          required
          class="form-control"
          placeholder="ชื่อผู้ใช้" 
       
        />
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input
          type="password"
          id="password"
          name="dummy-password"
          [(ngModel)]="password"
          required
          class="form-control"
          placeholder="รหัสผ่าน" 
         
        />
      </div>
      <button type="submit" class="login-button" [disabled]="!loginForm.valid">
        Login
      </button>
    </form>
  </div>
</div>
<script>
  // autocomplete="off"
  // เปลี่ยนชื่อฟิลด์แบบไดนามิกหลังจากโหลดหน้าเว็บ
  document.addEventListener('DOMContentLoaded', function() {
    document.getElementById('username').setAttribute('name', 'username');
    document.getElementById('password').setAttribute('name', 'password');
  });
</script>